html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    margin-top: -19px;
    padding-top: 100px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: honeydew;
    min-height: 100vh;
}

header {
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    padding: 17px;
    background-color: tomato;
}

ul {
    list-style: none;
}

.nav-link {
    color: rgba(255, 255, 255, .5);
}

a.navbar-link {
    padding: 8px;
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
}

a.navbar-link:hover {
    color: white;
}

a {
    color: transparent;
    text-decoration: none;
}

.card {
    width: 800px;
    height: 660px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 6px 0px black;
    background-color: azure;
}

.card-login {
    width: 800px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 6px 0px black;
    background-color: azure;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 600px;
    padding: 15px;
}

.form-login {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 600px;
    padding: 15px;
}

.form-group {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input.form-control {
    width: 100%;
    padding: 8px;
}

.btn.btn-success {
    margin: 15px;
    padding: 8px;
    background-color: cornflowerblue;
    border-radius: 3px;
    color: white;
}

.btn.btn-success:hover {
    background-color: dodgerblue;
}